.borderSalesColor{
    border: solid;
    border-width: thick;
    border-color: #009ef7;
    border-radius: 1%;
}
.row > * {
    padding-right: 0%;
    }
input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    

    .card .card-header {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;
        min-height: 55px;
        padding: 0 1.3rem;
        color: var(--kt-card-cap-color);
        background-color: var(--kt-card-cap-bg);
        border-bottom: 1px solid var(--kt-card-border-color);
      }

      .card-body {
        display: flex;
        flex-direction: column;}