<p-table
    #dt
    [value]="data"
    [columns]="columns"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[5, 10, 15, 20]"
    (onPage)="paginate($event)"
    [globalFilterFields]="searchFields"
>
    <ng-template pTemplate="caption">
        <div class="d-flex" style="justify-content: space-between">
            <div class="d-flex" style="gap: 10px">
                <button
                    type="button"
                    pButton
                    pRipple
                    icon="pi pi-filter-slash"
                    (click)="dt.clear()"
                    class="p-button-warning"
                    pTooltip="Clear Filters"
                    tooltipPosition="bottom"
                ></button>
                <!-- <button
                    type="button"
                    pButton
                    pRipple
                    icon="pi pi-file"
                    (click)="dt.exportCSV()"
                    class="mr-2"
                    pTooltip="CSV"
                    tooltipPosition="bottom"
                ></button> -->
                <button *ngIf="exportColumns.length>0"
                    type="button"
                    pButton
                    pRipple
                    icon="pi pi-file-excel"
                    (click)="exportExcel()"
                    class="p-button-success mr-2"
                    pTooltip="Export to excel"
                    tooltipPosition="bottom"
                ></button>
                <!-- <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button> -->
                <!-- <button
                    type="button"
                    pButton
                    pRipple
                    icon="pi pi-filter"
                    (click)="dt.exportCSV({ selectionOnly: true })"
                    class="p-button-info ml-auto"
                    pTooltip="Selection Only"
                    tooltipPosition="bottom"
                ></button> -->
            </div>
            <span *ngIf="searchFields.length > 0" class="p-input-icon-left">
                <input
                    class="form-control"
                    pInputText
                    type="text"
                    (input)="dt.filterGlobal($event.target.value, 'contains')"
                    placeholder="Search keyword"
                />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of columns" class="fw-bold" pSortableColumn="{{ col.field }}">
                {{ col.header | localize }}
                <p-columnFilter
                    *ngIf="col.filter"
                    type="{{ col.filter }}"
                    field="{{ col.field }}"
                    display="menu"
                ></p-columnFilter>

                <p-sortIcon *ngIf="col.sortable" field="{{ col.field }}"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-record="$implicit" let-columns="columns">
        <tr
            [pSelectableRow]="record"
            class="alternate-row"
            [ngClass]="{
                'sales-theme': theme === 'sales',
                'credit-theme': theme === 'credit',
                'debit-theme': theme === 'debit'
            }"
        >
            <ng-container *ngFor="let col of columns">
                <td [ngStyle]="col?.style || {}" *ngIf="col.type != 'Download'">
                    <span *ngIf="!col.transform" [innerHtml]="prepareData(record[col.field], col.type)"></span>
                    <span
                        *ngIf="col.transform"
                        [innerHtml]="prepareData(col.transform(record[col.field]), col.type)"
                    ></span>
                </td>
            </ng-container>
            <ng-container *ngFor="let col of columns">
                <td
                    [ngStyle]="col?.style || {}"
                    *ngIf="col.type == 'Download'"
                    (click)="resolvePath(record[col.field])"
                >
                    <label *ngIf="!col.transform" [innerHtml]="prepareData(record[col.field], col.type)"></label>
                    <label
                        *ngIf="col.transform"
                        [innerHtml]="prepareData(col.transform(record[col.field]), col.type)"
                    ></label>
                </td>
            </ng-container>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer" style="text-align: center">
        <tr>
            <th [ngStyle]="columns[i]?.style || {}" *ngFor="let f of footer; let i = index" class="fw-bold">
                {{ f | localize }}
            </th>
        </tr>
    </ng-template>
</p-table>
