USE [vitadb11]
GO
/****** Object:  StoredProcedure [dbo].[GetDebitNotePurchaseDetailedReporteffdate]    Script Date: 4/13/2023 2:45:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
        
        
ALTER      procedure [dbo].[GetDebitNotePurchaseDetailedReporteffdate]   --  exec GetDebitNotePurchaseDetailedReporteffdate '2022-11-01', '2022-11-30'            
(            
@fromDate Date=null,            
@toDate Date=null,        
@tenantId int=null        
)            
as begin            
        
        
--select             
select (case when (irnno is null or irnno = '') then InvoiceNumber else irnno end) as IRNNo,          
InvoiceNumber  as Invoicenumber,billingreferenceid  as ReferenceNo,            
format(effdate,'dd-MM-yyyy') as  InvoiceDate,purchasecategory as Purchasecategory,            
isnull(sum(case when (trim(VatCategoryCode)='S'             
and trim(BuyerCountryCode) like 'SA%') Then isnull(LineNetAmount,0) else 0 end) ,0)          
 as TaxableAmount,          
         
--isnull(sum(case when (VatCategoryCode='S' and upper(orgtype)='GOVERNMENT'            
--and BuyerCountryCode ='SA') Then isnull(LineNetAmount,0) else 0 end ),0) as GovtTaxableAmt,            
isnull(sum(case when (VatCategoryCode='Z'             
) Then isnull(LineNetAmount ,0) else 0 end ),0)            
    --and BuyerCountryCode ='SA') Then isnull(LineNetAmount ,0) else 0 end ),0)            
 as ZeroRated,          
isnull(sum(case when (VatCategoryCode='E'             
and BuyerCountryCode like 'SA%') Then isnull(LineNetAmount ,0) else 0 end ),0) as Exempt,            
isnull(sum(case when (VatCategoryCode='O'             
and BuyerCountryCode like 'SA%') Then isnull(LineNetAmount ,0) else 0 end ),0) as OutofScope,            
isnull(sum(case when ( VatCategoryCode='S'  and RCMApplicable='0' and VATDeffered='0' and BuyerCountryCode not like 'SA%')         
Then isnull(LineNetAmount ,0) else 0 end ),0) as ImportVATCustoms,        
isnull(sum(case when ( VatCategoryCode='S'  and RCMApplicable='0' and VATDeffered='1' and BuyerCountryCode not like 'SA%')         
Then isnull(LineNetAmount ,0) else 0 end ),0) as VATDeffered,        
isnull(sum(case when ( VatCategoryCode='S'  and RCMApplicable='1') Then isnull(LineNetAmount ,0) else 0 end ),0) as ImportsatRCM,            
sum(isnull(customspaid,0))             
 as CustomsPaid,            
sum(isnull(excisetaxpaid,0))             
 as ExciseTaxPaid,            
sum(isnull(OtherChargespaid,0))            
 as OtherChargesPaid  ,            
vatrate             
 as vatrate,        
sum(VATLineAmount)  as  VatAmount,            
sum(LineAmountInclusiveVAT) as  TotalAmount            
from VI_importstandardfiles_Processed with (nolock) where       
CAST(effdate AS DATE)>=@fromDate and CAST(effdate AS DATE)<=@toDate      
and invoicetype like 'DN Purchase%'  and TenantId=@tenantId          
group by IRNNo,effdate,BillingReferenceId,InvoiceNumber,VatRate ,PurchaseCategory,RCMApplicable,VATDeffered           
            
  end