<div [@routerTransition]>
    <sub-header [title]="('Sector' | localize) "></sub-header>

    <div [class]="containerClass">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-6 mb-3">
                        <h6>{{ l('Name') }} :</h6>
                        {{ item.sector.name }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('Description') }} :</h6>
                        {{ item.sector.description }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('Code') }} :</h6>
                        {{ item.sector.code }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('GroupName') }} :</h6>
                        {{ item.sector.groupName }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('IndustryGroupCode') }} :</h6>
                        {{ item.sector.industryGroupCode }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('IndustryGroupName') }} :</h6>
                        {{ item.sector.industryGroupName }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('IndustryCode') }} :</h6>
                        {{ item.sector.industryCode }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('IndustryName') }} :</h6>
                        {{ item.sector.industryName }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('SubIndustryCode') }} :</h6>
                        {{ item.sector.subIndustryCode }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('SubIndustryName') }} :</h6>
                        {{ item.sector.subIndustryName }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('IsActive') }} :</h6>
                        <div *ngIf="item.sector.isActive" class="text-left">
                            <i class="fa fa-check-circle text-success" title="True"></i>
                        </div>
                        <div *ngIf="!item.sector.isActive" class="text-left">
                            <i class="fa fa-times-circle" title="False"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
