#alignitems {
    margin-right: 55px;
    float: right
}

#navtabs {
    gap: 10px
}

#buttonstyle {
    width: 100%
}

#ptable {
    width: '100%'
}

.flex {
    align-items: flex-start
}

#span {
    float: right;
    width: 400px
}

#input {
    width: 400px
}

#tdstyle {
    width: 150px;
    text-align: end
}

#thstyle {
    width: 150px;
    text-align: end
}

#trstyle {
    background-color: limegreen
}

.tdwidth {
    width: 150px;
    text-align: end
}

tr.p-selectable-row:nth-child(even) {
    background-color: #ebf5ff;
}

#display {
    display: flex;
    justify-content: end
}

#textalign {
    text-align: center;
    float: right
}