USE [brady]
GO
/****** Object:  Table [dbo].[vi_importoverheadfiles_processed]    Script Date: 01-09-2023 17:11:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vi_importoverheadfiles_processed](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenantId] [int] NULL,
	[UniqueIdentifier] [uniqueidentifier] NULL,
	[BatchId] [int] NOT NULL,
	[Filename] [nvarchar](max) NULL,
	[InvoiceType] [nvarchar](max) NULL,
	[IRNNo] [nvarchar](max) NULL,
	[InvoiceNumber] [nvarchar](max) NULL,
	[IssueDate] [datetime2](7) NULL,
	[IssueTime] [nvarchar](max) NULL,
	[InvoiceCurrencyCode] [nvarchar](max) NULL,
	[PurchaseOrderId] [nvarchar](max) NULL,
	[ContractId] [nvarchar](max) NULL,
	[SupplyDate] [datetime2](7) NULL,
	[SupplyEndDate] [datetime2](7) NULL,
	[BuyerMasterCode] [nvarchar](max) NULL,
	[BuyerName] [nvarchar](max) NULL,
	[BuyerVatCode] [nvarchar](max) NULL,
	[BuyerContact] [nvarchar](max) NULL,
	[BuyerCountryCode] [nvarchar](max) NULL,
	[InvoiceLineIdentifier] [nvarchar](max) NULL,
	[ItemMasterCode] [nvarchar](max) NULL,
	[ItemName] [nvarchar](max) NULL,
	[UOM] [nvarchar](max) NULL,
	[GrossPrice] [decimal](18, 2) NOT NULL,
	[Discount] [decimal](18, 2) NOT NULL,
	[NetPrice] [decimal](18, 2) NOT NULL,
	[Quantity] [decimal](18, 2) NOT NULL,
	[LineNetAmount] [decimal](18, 2) NOT NULL,
	[VatCategoryCode] [nvarchar](max) NULL,
	[VatRate] [decimal](18, 2) NOT NULL,
	[VatExemptionReasonCode] [nvarchar](max) NULL,
	[VatExemptionReason] [nvarchar](max) NULL,
	[VATLineAmount] [decimal](18, 2) NOT NULL,
	[LineAmountInclusiveVAT] [decimal](18, 2) NOT NULL,
	[Processed] [bit] NOT NULL,
	[Error] [nvarchar](max) NULL,
	[BillingReferenceId] [nvarchar](max) NULL,
	[OrignalSupplyDate] [datetime2](7) NULL,
	[ReasonForCN] [nvarchar](max) NULL,
	[BillOfEntry] [nvarchar](max) NULL,
	[BillOfEntryDate] [datetime2](7) NULL,
	[CustomsPaid] [decimal](18, 2) NOT NULL,
	[CustomTax] [decimal](18, 2) NOT NULL,
	[WHTApplicable] [bit] NOT NULL,
	[PurchaseNumber] [nvarchar](max) NULL,
	[PurchaseCategory] [nvarchar](max) NULL,
	[LedgerHeader] [nvarchar](max) NULL,
	[TransType] [nvarchar](max) NULL,
	[AdvanceRcptAmtAdjusted] [decimal](18, 2) NULL,
	[VatOnAdvanceRcptAmtAdjusted] [decimal](18, 2) NULL,
	[AdvanceRcptRefNo] [nvarchar](max) NULL,
	[PaymentMeans] [nvarchar](max) NULL,
	[PaymentTerms] [nvarchar](max) NULL,
	[NatureofServices] [nvarchar](max) NULL,
	[Isapportionment] [bit] NOT NULL,
	[ExciseTaxPaid] [decimal](18, 2) NOT NULL,
	[OtherChargesPaid] [decimal](18, 2) NOT NULL,
	[TotalTaxableAmount] [decimal](18, 2) NOT NULL,
	[VATDeffered] [bit] NOT NULL,
	[PlaceofSupply] [nvarchar](max) NULL,
	[RCMApplicable] [bit] NOT NULL,
	[OrgType] [nvarchar](max) NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[CreatorUserId] [bigint] NULL,
	[LastModificationTime] [datetime2](7) NULL,
	[LastModifierUserId] [bigint] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeleterUserId] [bigint] NULL,
	[DeletionTime] [datetime2](7) NULL,
	[AffiliationStatus] [nvarchar](max) NULL,
	[CapitalInvestedbyForeignCompany] [nvarchar](max) NULL,
	[CapitalInvestmentCurrency] [nvarchar](max) NULL,
	[CapitalInvestmentDate] [nvarchar](max) NULL,
	[ExchangeRate] [decimal](18, 2) NULL,
	[PerCapitaHoldingForiegnCo] [nvarchar](max) NULL,
	[ReferenceInvoiceAmount] [decimal](18, 2) NULL,
	[VendorCostitution] [nvarchar](max) NULL,
	[effdate] [date] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
