USE [brady]
GO
/****** Object:  Table [dbo].[ValidationStatus]    Script Date: 01-09-2023 17:11:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ValidationStatus](
	[ValidStat] [int] NULL,
	[TenantId] [int] NULL
) ON [PRIMARY]
GO
