USE [brady]
GO
/****** Object:  StoredProcedure [dbo].[SalesTransRule03Validations]    Script Date: 01-09-2023 17:11:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE      procedure [dbo].[SalesTransRule03Validations]  -- exec SalesTransRule03Validations 657237        
(        
@BatchNo numeric,  
@validstat int   
)        
as        
begin        
 delete from importstandardfiles_errorlists where batchid = @BatchNo and errortype = 122       
 end        
-- begin        
-- insert into importstandardfiles_errorlists(tenantid,BatchId,uniqueidentifier,Status,ErrorMessage,Errortype,isdeleted,CreationTime) select tenantid,@batchno,        
-- uniqueidentifier,'0','Net Price for nominal cannot be greater than 200.00',122,0,getdate() from ImportBatchData          
--where invoicetype like 'Sales Invoice%' and upper(trim(substring(InvoiceType,16,len(InvoiceType)-15))) = 'NOMINAL' and       
--upper(trim(Vatcategorycode)) = 'O'   and NetPrice > 200.00    
--and batchid = @batchno          
-- end   
GO
