USE [brady]
GO
/****** Object:  StoredProcedure [dbo].[CreateInvoiceFromDraft]    Script Date: 01-09-2023 17:11:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   Procedure [dbo].[CreateInvoiceFromDraft] --CreateInvoiceFromDraft 32,127
@draftIrnno nvarchar(max),
@tenantid int=null
as
begin
declare @typecode int= null
set @typecode=(select InvoiceTypeCode from draft  WHERE id=@draftIrnno and tenantid=@tenantid)
update draft set isSent=1  WHERE id=@draftIrnno and tenantid=@tenantid; 
declare @irnno bigint = isnull((select max(irnno) from IRNMaster where TenantId=@tenantId),0)+1    



INSERT INTO [dbo].[IRNMaster]    
           ([TenantId]    
           ,[UniqueIdentifier]    
           ,[IRNNo]    
           ,[TransactionType]    
           ,[Status]    
           ,[CreationTime]    
           ,[IsDeleted])    
     VALUES    
           (@tenantId    
           ,NEWID()    
           ,@irnno    
           ,'SalesInvoice'    
           ,'Processing'    
           ,GETDATE()    
           ,0) 
if(@typecode = 388)
begin
---sales

INSERT INTO [dbo].[SalesInvoice]
           ([TenantId]
           ,[UniqueIdentifier]
           ,[IRNNo]
           ,[InvoiceNumber]
           ,[IssueDate]
           ,[DateOfSupply]
           ,[InvoiceCurrencyCode]
           ,[CurrencyCodeOriginatingCountry]
           ,[PurchaseOrderId]
           ,[BillingReferenceId]
           ,[ContractId]
           ,[LatestDeliveryDate]
           ,[Location]
           ,[CustomerId]
           ,[Status]
           ,[Additional_Info]
           ,[PaymentType]
           ,[PdfUrl]
           ,[QrCodeUrl]
           ,[XMLUrl]
           ,[ArchivalUrl]
           ,[PreviousInvoiceHash]
           ,[PerviousXMLHash]
           ,[XMLHash]
           ,[PdfHash]
           ,[XMLbase64]
           ,[PdfBase64]
           ,[IsArchived]
           ,[TransTypeCode]
           ,[TransTypeDescription]
           ,[AdvanceReferenceNumber]
           ,[Invoicetransactioncode]
           ,[BusinessProcessType]
           ,[CreationTime]
           ,[CreatorUserId]
           ,[IsDeleted]
           ,[InvoiceNotes]
           ,[XmlUuid]
           ,[AdditionalData1]
           ,[AdditionalData2]
           ,[AdditionalData3]
           ,[AdditionalData4]
           ,[InvoiceTypeCode]
           ,[Language])
      SELECT 
		[TenantId]
      ,[UniqueIdentifier]
      ,@irnno
      ,[InvoiceNumber]
      ,[IssueDate]
      ,[DateOfSupply]
      ,[InvoiceCurrencyCode]
      ,[CurrencyCodeOriginatingCountry]
      ,[PurchaseOrderId]
      ,[BillingReferenceId]
      ,[ContractId]
      ,[LatestDeliveryDate]
      ,[Location]
      ,[CustomerId]
      ,[Status]
      ,[Additional_Info]
      ,[PaymentType]
      ,[PdfUrl]
      ,[QrCodeUrl]
      ,[XMLUrl]
      ,[ArchivalUrl]
      ,[PreviousInvoiceHash]
      ,[PerviousXMLHash]
      ,[XMLHash]
      ,[PdfHash]
      ,[XMLbase64]
      ,[PdfBase64]
      ,[IsArchived]
      ,[TransTypeCode]
      ,[TransTypeDescription]
      ,[AdvanceReferenceNumber]
      ,[Invoicetransactioncode]
      ,[BusinessProcessType]
	  ,getdate()
	  ,[CreatorUserId]
	  ,0
      ,[InvoiceNotes]
      ,[XmlUuid]
      ,[AdditionalData1]
      ,[AdditionalData2]
      ,[AdditionalData3]
      ,[AdditionalData4]
      ,[InvoiceTypeCode]
      ,[Language]
  FROM Draft  WHERE id=@draftIrnno and tenantid=@tenantid

-----------------------------------------------------
  INSERT INTO [dbo].[SalesInvoiceAddress]    
           ([TenantId]    
           ,[UniqueIdentifier]    
           ,[IRNNo]    
           ,[Street]    
           ,[AdditionalStreet]    
           ,[BuildingNo]    
           ,[AdditionalNo]    
           ,[City]    
           ,[PostalCode]    
           ,[State]    
           ,[Neighbourhood]    
           ,[CountryCode]    
           ,[Type]    
           ,[CreationTime]    
           ,[IsDeleted]    
           ,[AdditionalData1]    
           ,[Language])    
SELECT 
      [TenantId]
      ,NEWID()
      ,@irnno
      ,[Street]
      ,[AdditionalStreet]
      ,[BuildingNo]
      ,[AdditionalNo]
      ,[City]
      ,[PostalCode]
      ,[State]
      ,[Neighbourhood]
      ,[CountryCode]
      ,[Type]
	   ,GETDATE()    
		 ,0    
      ,[AdditionalData1]
      ,[Language]
  FROM DraftAddress  WHERE irnno=@draftIrnno and tenantid=@tenantid
--------------------------------------------------------------------
INSERT INTO [dbo].[SalesInvoiceParty]    
           ([TenantId]    
           ,[UniqueIdentifier]    
           ,[IRNNo]    
           ,[RegistrationName]    
           ,[VATID]    
           ,[GroupVATID]    
           ,[CRNumber]    
           ,[OtherID]    
           ,[CustomerId]    
           ,[Type]    
           ,[CreationTime]    
        ,[IsDeleted]    
           ,[AdditionalData1]    
           ,[Language]    
           ,[OtherDocumentTypeId])  
SELECT [TenantId]    
      ,NEWID()    
      ,@irnno    
      ,[RegistrationName]    
      ,[VATID]    
      ,[GroupVATID]    
      ,[CRNumber]    
      ,[OtherID]    
      ,[CustomerId]    
      ,[Type]    
      ,GetDate()    
	 ,0    
      ,[AdditionalData1]    
      ,[Language]    
      ,[OtherDocumentTypeId]    
  FROM [dbo].draftparty  WHERE irnno=@draftIrnno and tenantid=@tenantid
--------------------------------------------------------------------------------
INSERT INTO [dbo].[SalesInvoiceContactPerson]    
           ([TenantId]    
      ,[UniqueIdentifier]    
      ,[IRNNo]    
      ,[Name]    
      ,[EmployeeCode]    
      ,[ContactNumber]    
      ,[GovtId]    
      ,[Email]    
      ,[Address]    
      ,[Location]    
      ,[Type]    
      ,[CreationTime]    
      ,[IsDeleted]    
      ,[AdditionalData1]    
      ,[Language])    
SELECT [TenantId]    
      ,NEWID()    
      ,@irnno    
      ,[Name]    
      ,[EmployeeCode]    
      ,[ContactNumber]    
      ,[GovtId]    
      ,[Email]    
      ,[Address]    
      ,[Location]    
      ,[Type]    
      ,GETDATE()    
   ,0    
      ,[AdditionalData1]    
      ,[Language]    
  FROM DraftContactPerson  WHERE irnno=@draftIrnno and tenantid=@tenantid   
--------------------------------------------------------------------------------
INSERT INTO [dbo].[SalesInvoiceItem]    
           ([TenantId]    
           ,[UniqueIdentifier]    
           ,[IRNNo]    
           ,[Identifier]    
           ,[Name]    
           ,[Description]    
           ,[BuyerIdentifier]    
           ,[SellerIdentifier]    
           ,[StandardIdentifier]    
           ,[Quantity]    
           ,[UOM]    
           ,[UnitPrice]    
           ,[CostPrice]    
           ,[DiscountPercentage]    
           ,[DiscountAmount]    
           ,[GrossPrice]    
           ,[NetPrice]    
           ,[VATRate]    
           ,[VATCode]    
           ,[VATAmount]    
           ,[LineAmountInclusiveVAT]    
           ,[CurrencyCode]    
           ,[TaxSchemeId]    
           ,[Notes]    
           ,[ExcemptionReasonCode]    
           ,[ExcemptionReasonText]    
           ,[CreationTime]    
           ,[IsDeleted]    
           ,[AdditionalData1]    
           ,[AdditionalData2]    
           ,[Language]
		   ,[isOtherCharges])    
SELECT [TenantId]    
      ,NEWID()    
      ,@irnno    
      ,[Identifier]    
      ,[Name]    
      ,[Description]    
      ,[BuyerIdentifier]    
      ,[SellerIdentifier]    
      ,[StandardIdentifier]    
      ,[Quantity]    
      ,[UOM]    
      ,[UnitPrice]    
      ,[CostPrice]    
      ,[DiscountPercentage]    
      ,[DiscountAmount]    
      ,[GrossPrice]    
      ,[NetPrice]    
      ,[VATRate]    
      ,[VATCode]    
      ,[VATAmount]    
      ,[LineAmountInclusiveVAT]    
      ,[CurrencyCode]    
      ,[TaxSchemeId]    
      ,[Notes]    
      ,[ExcemptionReasonCode]    
      ,[ExcemptionReasonText]    
      ,GETDATE()    
   ,0    
      ,[AdditionalData1]    
      ,[AdditionalData2]    
      ,[Language]
	  ,[isOtherCharges]
  FROM DraftItem  WHERE irnno=@draftIrnno and tenantid=@tenantid
--------------------------------------------------------------------------------
INSERT INTO [dbo].[SalesInvoiceSummary]    
           ([TenantId]    
           ,[UniqueIdentifier]    
           ,[IRNNo]    
           ,[NetInvoiceAmount]    
           ,[NetInvoiceAmountCurrency]    
           ,[SumOfInvoiceLineNetAmount]    
           ,[SumOfInvoiceLineNetAmountCurrency]    
           ,[TotalAmountWithoutVAT]    
           ,[TotalAmountWithoutVATCurrency]    
           ,[TotalVATAmount]   
           ,[CurrencyCode]    
           ,[TotalAmountWithVAT]    
           ,[PaidAmount]    
           ,[PaidAmountCurrency]    
           ,[PayableAmount]    
           ,[PayableAmountCurrency]    
           ,[AdvanceAmountwithoutVat]    
           ,[AdvanceVat]    
           ,[CreationTime]    
           ,[IsDeleted]    
           ,[AdditionalData1])    
SELECT [TenantId]    
      ,NEWID()    
      ,@irnno    
      ,[NetInvoiceAmount]    
      ,[NetInvoiceAmountCurrency]    
      ,[SumOfInvoiceLineNetAmount]    
      ,[SumOfInvoiceLineNetAmountCurrency]    
      ,[TotalAmountWithoutVAT]    
      ,[TotalAmountWithoutVATCurrency]    
      ,[TotalVATAmount]    
      ,[CurrencyCode]    
      ,[TotalAmountWithVAT]    
      ,[PaidAmount]    
      ,[PaidAmountCurrency]    
      ,[PayableAmount]    
      ,[PayableAmountCurrency]    
      ,[AdvanceAmountwithoutVat]    
      ,[AdvanceVat]    
      ,GETDATE()    
   ,0    
      ,[AdditionalData1]    
  FROM DraftSummary  WHERE irnno=@draftIrnno and tenantid=@tenantid
--------------------------------------------------------------------------------
---Sales End
end
else if(@typecode =381)
begin
---Credit Start
insert into CreditNote(
Id,[TenantId]    
,[UniqueIdentifier]    
,[IRNNo]    
,[InvoiceNumber]    
,[IssueDate]    
,[DateOfSupply]    
,[InvoiceCurrencyCode]    
,[CurrencyCodeOriginatingCountry]    
,[PurchaseOrderId]    
,[BillingReferenceId]    
,[ContractId]    
,[LatestDeliveryDate]    
,[Location]    
,[CustomerId]    
,[Status]    
,[Additional_Info]    
,[PaymentType]    
,[PdfUrl]    
,[QrCodeUrl]    
,[XMLUrl]    
,[ArchivalUrl]    
,[PreviousInvoiceHash]    
,[PerviousXMLHash]    
,[XMLHash]    
,[PdfHash]    
,[XMLbase64]    
,[PdfBase64]    
,[IsArchived]    
,[TransTypeCode]    
,[TransTypeDescription]    
,[AdvanceReferenceNumber]    
,[Invoicetransactioncode]    
,[BusinessProcessType]    
,[CreationTime]    
,[IsDeleted]    
,[InvoiceNotes]    
,[XmlUuid]    
,[AdditionalData1]    
,[AdditionalData2]    
,[AdditionalData3]    
,[AdditionalData4]    
,[InvoiceTypeCode]    
,[Language])    
select     
NEWID(),
   [TenantId]    
           ,[UniqueIdentifier]    
           ,@irnno    
           ,[InvoiceNumber]    
           ,[IssueDate]    
           ,[DateOfSupply]    
           ,[InvoiceCurrencyCode]    
           ,[CurrencyCodeOriginatingCountry]    
           ,[PurchaseOrderId]    
           ,[BillingReferenceId]    
           ,[ContractId]    
           ,isnull([LatestDeliveryDate],[IssueDate])
           ,[Location]    
           ,[CustomerId]    
           ,[Status]    
           ,[Additional_Info]    
           ,[PaymentType]    
           ,[PdfUrl]    
           ,[QrCodeUrl]    
           ,[XMLUrl]    
           ,[ArchivalUrl]    
           ,[PreviousInvoiceHash]    
           ,[PerviousXMLHash]    
           ,[XMLHash]    
           ,[PdfHash]    
           ,[XMLbase64]    
           ,[PdfBase64]    
           ,[IsArchived]    
           ,[TransTypeCode]    
           ,[TransTypeDescription]    
           ,[AdvanceReferenceNumber]    
           ,[Invoicetransactioncode]    
           ,[BusinessProcessType]    
           ,GETDATE()    
     ,0    
           ,[InvoiceNotes]    
           ,[XmlUuid]    
           ,[AdditionalData1]    
           ,[AdditionalData2]    
           ,[AdditionalData3]    
           ,[AdditionalData4]    
           ,[InvoiceTypeCode]    
           ,[Language]    
from draft  WHERE id=@draftIrnno and tenantid=@tenantid
--------------------------------------------------------------------------------
INSERT INTO [dbo].[CreditNoteAddress]    
           ([TenantId]    
           ,[UniqueIdentifier]    
           ,[IRNNo]    
           ,[Street]    
           ,[AdditionalStreet]    
           ,[BuildingNo]    
           ,[AdditionalNo]    
           ,[City]    
           ,[PostalCode]    
           ,[State]    
           ,[Neighbourhood]    
           ,[CountryCode]    
           ,[Type]    
           ,[CreationTime]    
           ,[IsDeleted]    
           ,[AdditionalData1]    
           ,[Language])    
    
SELECT     
      [TenantId]    
      ,NEWID()    
      ,@irnno    
      ,[Street]    
      ,[AdditionalStreet]    
      ,[BuildingNo]    
      ,[AdditionalNo]    
      ,[City]    
      ,[PostalCode]    
      ,[State]    
      ,[Neighbourhood]    
      ,[CountryCode]    
      ,[Type]    
      ,GETDATE()    
   ,0    
      ,[AdditionalData1]    
      ,[Language]    
  FROM draftAddress  WHERE irnno=@draftIrnno and tenantid=@tenantid
--------------------------------------------------------------------------------
INSERT INTO [dbo].[CreditNoteParty]    
           ([TenantId]    
           ,[UniqueIdentifier]    
           ,[IRNNo]    
           ,[RegistrationName]    
           ,[VATID]    
           ,[GroupVATID]    
           ,[CRNumber]    
           ,[OtherID]    
           ,[CustomerId]    
           ,[Type]    
           ,[CreationTime]    
        ,[IsDeleted]    
           ,[AdditionalData1]    
           ,[Language]    
           ,[OtherDocumentTypeId])    
SELECT [TenantId]    
      ,NEWID()    
      ,@irnno    
      ,[RegistrationName]    
      ,[VATID]    
      ,[GroupVATID]    
      ,[CRNumber]    
      ,[OtherID]    
      ,[CustomerId]    
      ,[Type]    
      ,GetDate()    
   ,0    
      ,[AdditionalData1]    
      ,[Language]    
      ,[OtherDocumentTypeId]    
  FROM draftParty  WHERE irnno=@draftIrnno and tenantid=@tenantid
--------------------------------------------------------------------------------
INSERT INTO [dbo].[CreditNoteContactPerson]    
           ([TenantId]    
      ,[UniqueIdentifier]    
      ,[IRNNo]    
      ,[Name]    
      ,[EmployeeCode]    
      ,[ContactNumber]    
      ,[GovtId]    
      ,[Email]    
      ,[Address]    
      ,[Location]    
      ,[Type]    
      ,[CreationTime]    
      ,[IsDeleted]    
      ,[AdditionalData1]    
      ,[Language])    
SELECT [TenantId]    
      ,NEWID()    
      ,@irnno    
      ,[Name]    
      ,[EmployeeCode]    
      ,[ContactNumber]    
      ,[GovtId]    
      ,[Email]    
      ,[Address]    
      ,[Location]    
      ,[Type]    
      ,GETDATE()    
   ,0    
      ,[AdditionalData1]    
      ,[Language]    
  FROM draftContactPerson  WHERE irnno=@draftIrnno and tenantid=@tenantid
--------------------------------------------------------------------------------
INSERT INTO [dbo].[CreditNoteItem]    
           ([TenantId]    
           ,[UniqueIdentifier]    
           ,[IRNNo]    
           ,[Identifier]    
           ,[Name]    
           ,[Description]    
           ,[BuyerIdentifier]    
           ,[SellerIdentifier]    
           ,[StandardIdentifier]    
           ,[Quantity]    
           ,[UOM]    
           ,[UnitPrice]    
           ,[CostPrice]    
           ,[DiscountPercentage]    
           ,[DiscountAmount]    
           ,[GrossPrice]    
           ,[NetPrice]    
           ,[VATRate]    
           ,[VATCode]    
           ,[VATAmount]    
           ,[LineAmountInclusiveVAT]    
           ,[CurrencyCode]    
           ,[TaxSchemeId]    
           ,[Notes]    
           ,[ExcemptionReasonCode]    
           ,[ExcemptionReasonText]    
           ,[CreationTime]    
           ,[IsDeleted]    
           ,[AdditionalData1]    
           ,[AdditionalData2]    
           ,[Language]
		   ,[isOtherCharges])    
SELECT [TenantId]    
      ,NEWID()    
      ,@irnno    
      ,[Identifier]    
      ,[Name]    
      ,[Description]    
      ,[BuyerIdentifier]    
      ,[SellerIdentifier]    
      ,[StandardIdentifier]    
      ,[Quantity]    
      ,[UOM]    
      ,[UnitPrice]    
      ,[CostPrice]    
      ,[DiscountPercentage]    
      ,[DiscountAmount]    
      ,[GrossPrice]    
      ,[NetPrice]    
      ,[VATRate]    
      ,[VATCode]    
      ,[VATAmount]    
      ,[LineAmountInclusiveVAT]    
      ,[CurrencyCode]    
      ,[TaxSchemeId]    
      ,[Notes]    
      ,[ExcemptionReasonCode]    
      ,[ExcemptionReasonText]    
      ,GETDATE()    
   ,0    
      ,[AdditionalData1]    
      ,[AdditionalData2]    
      ,[Language]
	  ,[isOtherCharges]
  FROM draftItem  WHERE irnno=@draftIrnno and tenantid=@tenantid    
    
-----------------------------------------------------------    
    
INSERT INTO [dbo].[CreditNoteSummary]    
           ([TenantId]    
           ,[UniqueIdentifier]    
           ,[IRNNo]    
           ,[NetInvoiceAmount]    
           ,[NetInvoiceAmountCurrency]    
           ,[SumOfInvoiceLineNetAmount]    
           ,[SumOfInvoiceLineNetAmountCurrency]    
           ,[TotalAmountWithoutVAT]    
           ,[TotalAmountWithoutVATCurrency]    
           ,[TotalVATAmount]   
           ,[CurrencyCode]    
           ,[TotalAmountWithVAT]    
           ,[PaidAmount]    
           ,[PaidAmountCurrency]    
           ,[PayableAmount]    
           ,[PayableAmountCurrency]    
           ,[AdvanceAmountwithoutVat]    
           ,[AdvanceVat]    
           ,[CreationTime]    
           ,[IsDeleted]    
           ,[AdditionalData1])    
SELECT [TenantId]    
      ,NEWID()    
      ,@irnno    
      ,[NetInvoiceAmount]    
      ,[NetInvoiceAmountCurrency]    
      ,[SumOfInvoiceLineNetAmount]    
      ,[SumOfInvoiceLineNetAmountCurrency]    
      ,[TotalAmountWithoutVAT]    
      ,[TotalAmountWithoutVATCurrency]    
      ,[TotalVATAmount]    
      ,[CurrencyCode]    
      ,[TotalAmountWithVAT]    
      ,[PaidAmount]    
      ,[PaidAmountCurrency]    
      ,[PayableAmount]    
      ,[PayableAmountCurrency]    
      ,[AdvanceAmountwithoutVat]    
      ,[AdvanceVat]    
      ,GETDATE()    
   ,0    
      ,[AdditionalData1]    
  FROM DraftSummary  WHERE irnno=@draftIrnno and tenantid=@tenantid 
--------------------------------------------------------------------------------
---Credit Start
end
else
begin
----Debit start
insert into DebitNote([TenantId]    
,[UniqueIdentifier]    
,[IRNNo]    
,[InvoiceNumber]    
,[IssueDate]    
,[DateOfSupply]    
,[InvoiceCurrencyCode]    
,[CurrencyCodeOriginatingCountry]    
,[PurchaseOrderId]    
,[BillingReferenceId]    
,[ContractId]    
,[LatestDeliveryDate]    
,[Location]    
,[CustomerId]    
,[Status]    
,[Additional_Info]    
,[PaymentType]    
,[PdfUrl]    
,[QrCodeUrl]    
,[XMLUrl]    
,[ArchivalUrl]    
,[PreviousInvoiceHash]    
,[PerviousXMLHash]    
,[XMLHash]    
,[PdfHash]    
,[XMLbase64]    
,[PdfBase64]    
,[IsArchived]    
,[TransTypeCode]    
,[TransTypeDescription]    
,[AdvanceReferenceNumber]    
,[Invoicetransactioncode]    
,[BusinessProcessType]    
,[CreationTime]    
,[IsDeleted]    
,[InvoiceNotes]    
,[XmlUuid]    
,[AdditionalData1]    
,[AdditionalData2]    
,[AdditionalData3]    
,[AdditionalData4]    
,[InvoiceTypeCode]    
,[Language])    
select     
   [TenantId]    
           ,[UniqueIdentifier]    
           ,@irnno    
           ,[InvoiceNumber]    
           ,[IssueDate]    
           ,ISNULL([DateOfSupply],[IssueDate])   
           ,[InvoiceCurrencyCode]    
           ,[CurrencyCodeOriginatingCountry]    
           ,[PurchaseOrderId]    
           ,[BillingReferenceId]    
           ,[ContractId]    
           ,isnull([LatestDeliveryDate],[IssueDate])    
           ,[Location]    
           ,[CustomerId]    
           ,[Status]    
           ,[Additional_Info]    
           ,[PaymentType]    
           ,[PdfUrl]    
           ,[QrCodeUrl]    
           ,[XMLUrl]    
           ,[ArchivalUrl]    
           ,[PreviousInvoiceHash]    
           ,[PerviousXMLHash]    
           ,[XMLHash]    
           ,[PdfHash]    
           ,[XMLbase64]    
           ,[PdfBase64]    
           ,[IsArchived]    
           ,[TransTypeCode]    
           ,[TransTypeDescription]    
           ,[AdvanceReferenceNumber]    
           ,[Invoicetransactioncode]    
           ,[BusinessProcessType]    
           ,GETDATE()    
     ,0    
           ,[InvoiceNotes]    
           ,[XmlUuid]    
           ,[AdditionalData1]    
           ,[AdditionalData2]    
           ,[AdditionalData3]    
           ,[AdditionalData4]    
           ,[InvoiceTypeCode]    
           ,[Language]    
from draft  WHERE id=@draftIrnno and tenantid=@tenantid
-----------------------------------------------    
    
    
INSERT INTO [dbo].[DebitNoteAddress]    
           ([TenantId]    
           ,[UniqueIdentifier]    
           ,[IRNNo]    
           ,[Street]    
           ,[AdditionalStreet]    
           ,[BuildingNo]    
           ,[AdditionalNo]    
           ,[City]    
           ,[PostalCode]    
           ,[State]    
           ,[Neighbourhood]    
           ,[CountryCode]    
           ,[Type]    
           ,[CreationTime]    
           ,[IsDeleted]    
           ,[AdditionalData1]    
           ,[Language])    
    
SELECT     
      [TenantId]    
      ,NEWID()    
      ,@irnno    
      ,[Street]    
      ,[AdditionalStreet]    
      ,[BuildingNo]    
      ,[AdditionalNo]    
      ,[City]    
      ,[PostalCode]    
      ,[State]    
      ,[Neighbourhood]    
      ,[CountryCode]    
      ,[Type]    
      ,GETDATE()    
   ,0    
      ,[AdditionalData1]    
      ,[Language]    
  FROM draftAddress  WHERE irnno=@draftIrnno and tenantid=@tenantid    
    
-------------------------------------------------   
    
INSERT INTO [dbo].[DebitNoteParty]    
           ([TenantId]    
           ,[UniqueIdentifier]    
           ,[IRNNo]    
           ,[RegistrationName]    
           ,[VATID]    
           ,[GroupVATID]    
           ,[CRNumber]    
           ,[OtherID]    
           ,[CustomerId]    
           ,[Type]    
           ,[CreationTime]    
        ,[IsDeleted]    
           ,[AdditionalData1]    
           ,[Language]    
           ,[OtherDocumentTypeId])    
SELECT [TenantId]    
      ,NEWID()    
      ,@irnno    
      ,[RegistrationName]    
      ,[VATID]    
      ,[GroupVATID]    
      ,[CRNumber]    
      ,[OtherID]    
      ,[CustomerId]    
      ,[Type]    
      ,GetDate()    
   ,0    
      ,[AdditionalData1]    
      ,[Language]    
      ,[OtherDocumentTypeId]    
  FROM draftParty  WHERE irnno=@draftIrnno and tenantid=@tenantid   
    
------------------------------------------------- 
INSERT INTO [dbo].[DebitNoteContactPerson]    
           ([TenantId]    
      ,[UniqueIdentifier]    
      ,[IRNNo]    
      ,[Name]    
      ,[EmployeeCode]    
      ,[ContactNumber]    
      ,[GovtId]    
      ,[Email]    
      ,[Address]    
      ,[Location]    
      ,[Type]    
      ,[CreationTime]    
      ,[IsDeleted]    
      ,[AdditionalData1]    
      ,[Language])    
SELECT [TenantId]    
      ,NEWID()    
      ,@irnno    
      ,[Name]    
      ,[EmployeeCode]    
      ,[ContactNumber]    
      ,[GovtId]    
      ,[Email]    
      ,[Address]    
      ,[Location]    
      ,[Type]    
      ,GETDATE()    
   ,0    
      ,[AdditionalData1]    
      ,[Language]    
  FROM draftContactPerson  WHERE irnno=@draftIrnno and tenantid=@tenantid    
    
-----------------------------------------------------------    
    
INSERT INTO [dbo].[DebitNoteItem]    
           ([TenantId]    
           ,[UniqueIdentifier]    
           ,[IRNNo]    
           ,[Identifier]    
           ,[Name]    
           ,[Description]    
           ,[BuyerIdentifier]    
           ,[SellerIdentifier]    
           ,[StandardIdentifier]    
           ,[Quantity]    
           ,[UOM]    
           ,[UnitPrice]    
           ,[CostPrice]    
           ,[DiscountPercentage]    
           ,[DiscountAmount]    
           ,[GrossPrice]    
           ,[NetPrice]    
           ,[VATRate]    
           ,[VATCode]    
           ,[VATAmount]    
           ,[LineAmountInclusiveVAT]    
           ,[CurrencyCode]    
           ,[TaxSchemeId]    
           ,[Notes]    
           ,[ExcemptionReasonCode]    
           ,[ExcemptionReasonText]    
           ,[CreationTime]    
           ,[IsDeleted]    
           ,[AdditionalData1]    
           ,[AdditionalData2]    
           ,[Language]
		   ,[isOtherCharges])    
SELECT [TenantId]    
      ,NEWID()    
      ,@irnno    
      ,[Identifier]    
      ,[Name]    
      ,[Description]    
      ,[BuyerIdentifier]    
      ,[SellerIdentifier]    
      ,[StandardIdentifier]    
      ,[Quantity]    
      ,[UOM]    
      ,[UnitPrice]    
      ,[CostPrice]    
      ,[DiscountPercentage]    
      ,[DiscountAmount]    
      ,[GrossPrice]    
      ,[NetPrice]    
      ,[VATRate]    
      ,[VATCode]    
      ,[VATAmount]    
      ,[LineAmountInclusiveVAT]    
      ,[CurrencyCode]    
      ,[TaxSchemeId]    
      ,[Notes]    
      ,[ExcemptionReasonCode]    
      ,[ExcemptionReasonText]    
      ,GETDATE()    
   ,0    
      ,[AdditionalData1]    
      ,[AdditionalData2]    
      ,[Language]
	  ,[isOtherCharges]
  FROM draftItem  WHERE irnno=@draftIrnno and tenantid=@tenantid   
    
-----------------------------------------------------------    
    
INSERT INTO [dbo].[DebitNoteSummary]    
           ([TenantId]    
           ,[UniqueIdentifier]    
           ,[IRNNo]    
           ,[NetInvoiceAmount]    
           ,[NetInvoiceAmountCurrency]    
           ,[SumOfInvoiceLineNetAmount]    
           ,[SumOfInvoiceLineNetAmountCurrency]    
           ,[TotalAmountWithoutVAT]    
           ,[TotalAmountWithoutVATCurrency]    
           ,[TotalVATAmount]   
           ,[CurrencyCode]    
           ,[TotalAmountWithVAT]    
           ,[PaidAmount]    
           ,[PaidAmountCurrency]    
           ,[PayableAmount]    
           ,[PayableAmountCurrency]    
           ,[AdvanceAmountwithoutVat]    
           ,[AdvanceVat]    
           ,[CreationTime]    
           ,[IsDeleted]    
           ,[AdditionalData1])    
SELECT [TenantId]    
      ,NEWID()    
      ,@irnno    
      ,[NetInvoiceAmount]    
      ,[NetInvoiceAmountCurrency]    
      ,[SumOfInvoiceLineNetAmount]    
      ,[SumOfInvoiceLineNetAmountCurrency]    
      ,[TotalAmountWithoutVAT]    
      ,[TotalAmountWithoutVATCurrency]    
      ,[TotalVATAmount]    
      ,[CurrencyCode]    
      ,[TotalAmountWithVAT]    
      ,[PaidAmount]    
      ,[PaidAmountCurrency]    
      ,[PayableAmount]    
      ,[PayableAmountCurrency]    
      ,[AdvanceAmountwithoutVat]    
      ,[AdvanceVat]    
      ,GETDATE()    
   ,0    
      ,[AdditionalData1]    
  FROM draftSummary  WHERE irnno=@draftIrnno and tenantid=@tenantid  
----Debit End

end
select @irnno as invcNo, @typecode as transType

end
GO
