<div class="content d-flex flex-column flex-column-fluid" *ngIf="setview==false">
    <sub-header [title]="'File Upload - Credit Note' | localize">
        <div role="actions">
            <a href="/app/main/sales/BatchSummary" class="btn btn-primary">
                <i class="fa fa-eye btn-md-icon"></i>
                <span class="d-none d-md-inline-block">
                    {{ 'View Batch Summary' | localize }}
                </span>
            </a>
        </div>
    </sub-header>
    <div class="app-container container-fluid">
        <div class="card">
            <div class="card-body py-3">
                <div class="row gx-10 text-center">
                    <!-- <div class="col-lg-4">
                        <label class="d-flex align-items-center">
                            <span class="">&nbsp;</span>
                        </label>
                        <label class="d-flex align-items-center">
                            <span class="card-label fw-bolder fs-3 mb-1">Tenant: {{tenantName}} (Id:{{tenantId}})</span>
                        </label>
                    </div> -->
                    <div class="col-lg-12 text-end">
                        <div class="dteContainer">
                            <input class="form-control" id="StartEndRange" name="StartEndRange" #drp="bsDaterangepicker"
                                readonly="readonly" bsDaterangepicker  [bsConfig]="{rangeInputFormat: 'DD/MM/YYYY'}" dateRangePickerLuxonModifier
                                [(date)]="dateRange" />
                            <div class="btn-group px-3" style="float: right;" dropdown placement="button right">
                                <button id="dropdownButtonExcelOperations" dropdownToggle type="button"
                                    class="btn btn-outline btn-outline-success btn-active-light-success dropdown-toggle me-1"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    aria-controls="dropdownMenuExcelOperations">
                                    <i class="far fa-file-excel btn-md-icon"></i>
                                    <span class="d-none d-md-inline-block">
                                        {{ 'ExcelOperations' | localize }}
                                    </span>
                                </button>
                                <ul id="dropdownMenuExcelOperations"
                                    class="dropdown-menu dropdown-menu-right dropdown-excel-operations" role="menu"
                                    *dropdownMenu aria-labelledby="dropdownButtonExcelOperations">
                                    <li role="menuitem">
                                        <a href="javascript:;" class="no-padding">
                                            <span class="fileinput-button">
                                                <p-fileUpload customUpload="true" name="ExcelFileUpload"
                                                    #ExcelFileUpload maxFileSize="10000000" auto="auto"
                                                    accept=".csv,.xls,.xlsx" (uploadHandler)="uploadExcel($event)"
                                                    (onError)="onUploadExcelError()"
                                                    chooseLabel="{{ 'ImportFromExcel' | localize }}"></p-fileUpload>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="divider dropdown-divider"></li>
                                    <li role="menuitem">
                                        <span class="dropdown-item-text text-muted pl-3" href="#">
                                            <small [innerHTML]="
                                l(
                                    'ImportToExcelSampleFileDownloadInfo',
                                    '<a href=/assets/sampleFiles/CreditNoteSalesSample.xlsx>' +
                                        l('ClickHere') +
                                        '</a>' ) "></small>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="separator separator-dashed my-1"></div>
        </div>
        <div class="primeng-datatable-container">
            <p-table #dataTableAuditLogs sortMode="multiple" [value]="invoices">
                <ng-template pTemplate="header">
                    <tr *ngIf="isLoading==false">
                        <th>
                            {{ 'File Name' | localize }}
                        </th>
                        <th>
                            {{ 'Batch No' | localize }}
                        </th>
                        <th>
                            {{ 'No of Valid Records' | localize }}
                        </th>
                        <th>
                            {{ 'No of Invalid Records' | localize }}
                        </th>
                        <th>
                            {{ 'Total Records' | localize }}
                        </th>
                        <th>
                            {{ 'Invalid Records' | localize }}
                        </th>
                        <th>
                            {{ 'Einvoice (Dashboard)' | localize }}
                        </th>
                    </tr>
                    <tr>
                        <div *ngIf="isLoading==true" class="d-flex justify-content-center bg-light"
                            style="height: 100%;">
                            <div class="spinner-border text-primary" role="status" style="width: 4rem; height: 4rem;">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-record="$implicit">
                    <tr>
                        <td>
                            <span class="p-column-title">{{ 'Issue Date' |
                                localize }}</span>
                            {{ record.fileName }}
                        </td>
                        <td>
                            <span class="p-column-title">{{ 'Taxable amount' |
                                localize }}</span>
                            {{ record.batchId }}
                        </td>
                        <td>
                            <span class="p-column-title">{{ 'Zero Rated' |
                                localize }}</span>
                            {{ record.successRecords }}
                        </td>
                        <td>
                            <span class="p-column-title">{{ 'Private health' |
                                localize }}</span>
                            {{record.failedRecords }}
                        </td>
                        <td>
                            <span class="p-column-title">{{ 'Exports' | localize
                                }}</span>
                            {{ record.totalRecords }}
                        </td>
                        <td>
                            <span class="p-column-title">{{ 'Exempt' | localize
                                }}</span>
                            <button type="button" class="dwnldBtn btn"
                                (click)="exportToExcel(record.batchId)">Download</button>
                        </td>
                        <td>
                            <span class="p-column-title">{{ 'VAT Rate' | localize
                                }}</span>
                            <a type="button" class="btn btn-primary" (click)="view()">View</a>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<app-errorlist *ngIf="setview==true" [batchid]="batchid" [fileName]="fileName"></app-errorlist>