<div *ngIf="fromOnboardingPage" style="position: relative" class="d-flex flex-column flex-root" style="
background-image: url('/assets/common/images/vita-bg.png');
background-repeat: no-repeat;
background-position: 3% 75%;
">
    <div class="sticky-lg-top mb-2">
        <nav class="navbar navbar-expand-md navbar-dark"
        style="background-color: #dde8f8; position: 0; height: 8em; padding-left: 1.7em">
            <!-- Brand -->
            <div class="col-md-2">
               
                <a href="https://vita-xpro.com/">
                <img [src]="profilePicture" alt="logo" class="img-fluid"
                style="max-height: 65%; padding: 15px; margin-left: 8px"  />
            </a>
            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler bg-primary" type="button" data-toggle="collapse"
                data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>    
            </div>
          <div class="col-md-10">
            <div class="1 collapse navbar-collapse justify-content-space-between" id="collapsibleNavbar">
                <ul class="nav navbar-nav col-lg-8">
                    <li class="nav-item px-8">
                        <a class="nav-link p-0 fw-bold text-dark fs-4" href="https://vita-xpro.com/#key-features" role="button">
                            {{ 'Key Features' | localize }}
                        </a>
                    </li>
                    <li class="nav-item px-4">
                        <a class="nav-link p-0 fw-bold text-dark fs-4" href="https://vita-xpro.com/#what-is-vita" role="button">
                            {{ 'What is VITA?' | localize }}
                        </a>
                    </li>
                    <li class="nav-item px-4">
                        <a class="nav-link p-0 fw-bold text-dark fs-4" href="https://vita-xpro.com/#why-vita" role="button">
                            {{ 'Why VITA?' | localize }}
                        </a>
                    </li>
                    <li class="nav-item dropdown px-7">
                        <a class="nav-link p-0 fw-bold text-dark fs-4" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span>
                                {{ 'Solutions' | localize }}
                                <i class="fi fi-rs-angle-down"></i>
                            </span>
                        </a>
                        <div class="dropdown-menu" style="margin-top: 22px">
                            <a href="https://vita-xpro.com/vita/e-invoicing/" class="dropdown-item text-dark fs-6 p-3">
                                {{ 'E-Invoicing' | localize }}
                            </a>
                            <a href="https://vita-xpro.com/vita/value-added-tax-vat/"
                                class="dropdown-item text-dark fs-6 p-3">
                                {{ 'Value Added Tax (VAT)' | localize }}
                            </a>
                            <a href="https://vita-xpro.com/vita/withholding-tax-wht/"
                                class="dropdown-item text-dark fs-6 p-3">
                                {{ 'Withholding Tax (WHT)' | localize }}
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown px-4">
                        <a class="nav-link p-0 fw-bold text-dark fs-4" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span>
                                {{ 'Services' | localize }}
                                <i class="fi fi-rs-angle-down"></i>
                            </span>
                        </a>
                        <div class="dropdown-menu" style="margin-top: 22px">
                            <a href="https://vita-xpro.com/vita/corporate-income-tax/"
                                class="dropdown-item text-dark fs-6 p-3">
                                {{ 'Corporate Income Tax' | localize }}
                            </a>
                            <a href="https://vita-xpro.com/vita/country-by-country-reporting-cbcr/"
                                class="dropdown-item text-dark fs-6 p-3">
                                {{ 'Country By Country Reporting (CBCR)' | localize }}
                            </a>
                            <a href="https://vita-xpro.com/vita/excise-duty/" class="dropdown-item text-dark fs-6 p-3">
                                {{ 'Excise Duty' | localize }}
                            </a>
                            <a href="https://vita-xpro.com/vita/customs-duty/" class="dropdown-item text-dark fs-6 p-3">
                                {{ 'Customs Duty' | localize }}
                            </a>
                            <a href="https://vita-xpro.com/vita/contract-information-filing/
                                " class="dropdown-item text-dark fs-6 p-3">
                                {{ 'Contract Information Filing' | localize }}
                            </a>
                            <a href="https://vita-xpro.com/vita/arabic-bookkeeping/"
                                class="dropdown-item text-dark fs-6 p-3">
                                {{ 'Arabic Bookkeeping' | localize }}
                            </a>
                        </div>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="nav-item dropdown px-4">
                        <a class="nav-link p-0 elementor-button-link elementor-button elementor-size-sm" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <button class="elementor-button-content-wrapper" type="button" style="
                                    text-align: center;
                                    color: #20aaf8;
                                    border-radius: 8px;
                                    border: 1px solid;
                                    padding: 9px 31px 9px 31px;
                                    background-color: #FFFFFF00;
                                ">
                                <span style="font-weight:  bold !important;" >Let's Connect</span>
                            </button>
                        </a>
                    </li>
                    <li class="nav-item dropdown px-4">
                        <a class="nav-link p-0 fw-bold" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <button class="btn btn-sm" style="
                                    text-align: center;
                                    color: white;
                                    border-radius: 8px;
                                    border: 1px solid;
                                    padding: 9px 31px 9px 31px;
                                    border-color: #20aaf8;
                                    background-color: #20aaf8;
                                " type="submit">
                                <span style="font-weight: 700">Experience VITA</span>
                            </button>
                        </a>
                    </li>
                </ul>
            </div>
          </div>
            <!-- Navbar links -->
           
        </nav>
    </div>
    <div style="position: absolute; right: 0; margin-top: 10rem; margin-right: 5rem">
        <router-outlet></router-outlet>
    </div>
</div>

<div *ngIf="!fromOnboardingPage" class="d-flex flex-column flex-root" style="
        background-image: url('/assets/common/images/vita-bg.png');
        background-repeat: no-repeat;
        background-position: 3% 75%;        
        ">

    <!-- <iframe src="https://vita-xpro.com/vita/"></iframe> -->
    <div class="row">
    <div class="sticky-lg-top mb-2">
            <nav class="navbar navbar-expand-md navbar-dark"
            style="background-color: #dde8f8; position: 0; height: 8em; padding-left: 1.7em">
                <!-- Brand -->
                <div class="col-md-2">
                   
                    <a href="https://vita-xpro.com/">
                    <img [src]="profilePicture" alt="logo" class="img-fluid"
                    style="max-height: 65%; padding: 15px; margin-left: 8px"  />
                </a>
                <!-- Toggler/collapsibe Button -->
                <button class="navbar-toggler bg-primary" type="button" data-toggle="collapse"
                    data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>    
                </div>
              <div class="col-md-10">
                <div class="1 collapse navbar-collapse justify-content-space-between" id="collapsibleNavbar">
                    <ul class="nav navbar-nav col-lg-8">
                        <li class="nav-item px-8">
                            <a class="nav-link p-0 fw-bold text-dark fs-4" href="https://vita-xpro.com/#key-features" role="button">
                                {{ 'Key Features' | localize }}
                            </a>
                        </li>
                        <li class="nav-item px-4">
                            <a class="nav-link p-0 fw-bold text-dark fs-4" href="https://vita-xpro.com/#what-is-vita" role="button">
                                {{ 'What is VITA?' | localize }}
                            </a>
                        </li>
                        <li class="nav-item px-4">
                            <a class="nav-link p-0 fw-bold text-dark fs-4" href="https://vita-xpro.com/#why-vita" role="button">
                                {{ 'Why VITA?' | localize }}
                            </a>
                        </li>
                        <li class="nav-item dropdown px-7">
                            <a class="nav-link p-0 fw-bold text-dark fs-4" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span>
                                    {{ 'Solutions' | localize }}
                                    <i class="fi fi-rs-angle-down"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu" style="margin-top: 22px">
                                <a href="https://vita-xpro.com/vita/e-invoicing/" class="dropdown-item text-dark fs-6 p-3">
                                    {{ 'E-Invoicing' | localize }}
                                </a>
                                <a href="https://vita-xpro.com/vita/value-added-tax-vat/"
                                    class="dropdown-item text-dark fs-6 p-3">
                                    {{ 'Value Added Tax (VAT)' | localize }}
                                </a>
                                <a href="https://vita-xpro.com/vita/withholding-tax-wht/"
                                    class="dropdown-item text-dark fs-6 p-3">
                                    {{ 'Withholding Tax (WHT)' | localize }}
                                </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown px-4">
                            <a class="nav-link p-0 fw-bold text-dark fs-4" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span>
                                    {{ 'Services' | localize }}
                                    <i class="fi fi-rs-angle-down"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu" style="margin-top: 22px">
                                <a href="https://vita-xpro.com/vita/corporate-income-tax/"
                                    class="dropdown-item text-dark fs-6 p-3">
                                    {{ 'Corporate Income Tax' | localize }}
                                </a>
                                <a href="https://vita-xpro.com/vita/country-by-country-reporting-cbcr/"
                                    class="dropdown-item text-dark fs-6 p-3">
                                    {{ 'Country By Country Reporting (CBCR)' | localize }}
                                </a>
                                <a href="https://vita-xpro.com/vita/excise-duty/" class="dropdown-item text-dark fs-6 p-3">
                                    {{ 'Excise Duty' | localize }}
                                </a>
                                <a href="https://vita-xpro.com/vita/customs-duty/" class="dropdown-item text-dark fs-6 p-3">
                                    {{ 'Customs Duty' | localize }}
                                </a>
                                <a href="https://vita-xpro.com/vita/contract-information-filing/
                                    " class="dropdown-item text-dark fs-6 p-3">
                                    {{ 'Contract Information Filing' | localize }}
                                </a>
                                <a href="https://vita-xpro.com/vita/arabic-bookkeeping/"
                                    class="dropdown-item text-dark fs-6 p-3">
                                    {{ 'Arabic Bookkeeping' | localize }}
                                </a>
                            </div>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li class="nav-item dropdown px-4">
                            <a class="nav-link p-0 elementor-button-link elementor-button elementor-size-sm" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <button class="elementor-button-content-wrapper" type="button" style="
                                        text-align: center;
                                        color: #20aaf8;
                                        border-radius: 8px;
                                        border: 1px solid;
                                        padding: 9px 31px 9px 31px;
                                        background-color: #FFFFFF00;
                                    ">
                                    <span style="font-weight:  bold !important;" >Let's Connect</span>
                                </button>
                            </a>
                        </li>
                        <li class="nav-item dropdown px-4">
                            <a class="nav-link p-0 fw-bold" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <button class="btn btn-sm" style="
                                        text-align: center;
                                        color: white;
                                        border-radius: 8px;
                                        border: 1px solid;
                                        padding: 9px 31px 9px 31px;
                                        border-color: #20aaf8;
                                        background-color: #20aaf8;
                                    " type="submit">
                                    <span style="font-weight: 700">Experience VITA</span>
                                </button>
                            </a>
                        </li>
                    </ul>
                </div>
              </div>
                <!-- Navbar links -->
               
            </nav>
        </div>
    </div>
  
    <!-- <div>
        <h1>
            Virtual
            <br />
        </h1>
    </div> -->
    <div style="position: absolute; right: 0; margin-top: 9rem; margin-right: 5rem">
        <!-- style="background-image: url(/assets/metronic/assets/media/svg/illustrations/{{ backgroundImageName }}.png)" -->

        <div>
            <!--begin::Logo-->
            <!-- <a
                (click)="goToHome()"
                href=""
                class="d-flex justify-content-center"
                [class.mb-12]="!isSelectEditionPage()"
            >
                <img
                    *ngIf="!appSession.tenant || !appSession.tenant.logoId"
                    [src]="defaultLogo"
                    alt="logo"
                    class="h-40px"
                    [class.mb-20]="isSelectEditionPage()"
                />
                <img
                    *ngIf="appSession.tenant && appSession.tenant.logoId"
                    [src]="
                        remoteServiceBaseUrl +
                        '/TenantCustomization/GetTenantLogo?skin=light&tenantId=' +
                        appSession.tenant.id +
                        '&id=' +
                        appSession.tenant.logoId
                    "
                    alt="logo"
                    class="h-40px"
                />
            </a> -->
            <!--end::Logo-->
            <!--begin::Wrapper-->
            <div *ngIf="isSelectEditionPage()" class="container-xxl">
                <div *ngIf="showTenantChange()" class="tenant-change-box mb-5 tenant-change-box">
                    <tenant-change></tenant-change>
                </div>
                <!--begin::Form-->
                <router-outlet></router-outlet>
                <!--end::Form-->
            </div>
            <div *ngIf="!isSelectEditionPage()"
                class="w-lg-500px h-lg-455px bg-body shadow-lg p-3 mb-5 bg-white rounded p-5 p-lg-10">
                <div *ngIf="showTenantChange()" class="tenant-change-box mb-5 tenant-change-box">
                    <tenant-change></tenant-change>
                </div>
                <!--begin::Form-->
                <router-outlet></router-outlet>
                <!--end::Form-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Content-->
        <!--begin::Footer-->
        <!-- <div style=" position: absolute;" class="d-flex flex-end flex-column-auto p-10" [class.pt-0]="isSelectEditionPage()"> -->
        <!--begin::Links-->
        <!-- <div class="d-flex align-items-center fw-bold fs-6">
                <language-switch class="mx-auto"></language-switch>
            </div> -->
        <!--end::Links-->
        <!-- </div> -->
        <!--end::Footer-->
    </div>
    <!--end::Authentication - Sign-in-->
</div>