<div *ngIf="fromOnboardingPage" class="d-flex flex-column flex-root">
    <iframe  class="frame" src="https://vita-xpro.com/dashboard" scrolling="no">
    </iframe>
    <div class="containerxxl">
        <router-outlet></router-outlet>
    </div>
</div>
<div *ngIf="!fromOnboardingPage" class="d-flex flex-column flex-root">
    <iframe class="frame" src="https://vita-xpro.com/dashboard" scrolling="no">
    </iframe>
    <div class="positionStyle">
        <div>
            <div *ngIf="isSelectEditionPage()" class="container-xxl ">
                <div *ngIf="showTenantChange()" class="tenant-change-box mb-5 tenant-change-box">
                    <tenant-change></tenant-change>
                </div>
                <router-outlet></router-outlet>
            </div>
            <div *ngIf="!isSelectEditionPage()"  
                class="w-lg-500px h-lg-455px bg-body shadow-lg p-3 mb-5 bg-white rounded   p-5 p-lg-10">
                <div *ngIf="showTenantChange()" class="tenant-change-box mb-5 tenant-change-box">
                    <tenant-change></tenant-change>
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>